@use '../1-bases/colors';

.list{
  padding-block: 5rem;
  .list-item{
    max-width: 1200px;
    margin-inline: auto;
    padding: 4.8rem 2.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    &:not(:nth-child(1)){
      border-bottom: 1px solid colors.$black-light;
    }
    &__number{
      margin-right: 1.6rem;
    }
    &__link{
      &:hover{
        & + .img-project{
          transform: translate(-50%, -50%) translate3d(0, 0, 0);
          opacity: 1;
        }
      }
    }
    .img-project{
      max-width: 54rem;
      border-radius: 6px;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      opacity: 0;
      transform: translate(-50%, -50%) translate3d(-1000px, 0, 0) skewX(50deg);
      transition: all .3s ease-in-out;
    }
  }
}
