.flex-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pr-128{
  padding-right: 12.8rem;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
